/.deps
/.libs
/autom4te.cache
/doc/mdate-sh
/doc/texinfo.tex
/m4

*.o
*.Plo
*.Pl
*.Po
*.lo

ac_cfg.*
aclocal.m4
compile
configure
depcomp
avrdude*
!avrdude.conf.in
!avrdude.spec.in
config_gram.*
config.*
!config.h
!config.c
INSTALL
install-sh
lexer.c
libavrdude.*a
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
ylwrap

